.containersn {
	max-width: 1200px;
	margin: 0 auto;
	
	}
		
	h2{
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		color: #2F2F51;
	}

	.services{
		background-color: #f2f2f2;
		padding-top: 70px;
		margin: 0 auto;
		display: flex;
	
		&-list{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			
			
			.card__item{
				width: 45%;
				
				border-radius: 3px;
				margin-bottom: 10px;
				padding: 55px 5px 38px 50px;
					
				.card__description{
					width: 410px;
					}
			}
			
			.item-card1{
				background-image: url('../img/jpeg/card1.png');
			}

			.item-card2{		
			background-image: url('../img/jpeg/card2.png');
			
			}
			
			.item-card3{
			background-image: url('../img/jpeg/card3jpeg.png');
			}

			.item-card4{
			background-image: url('../img/jpeg/card4jpeg.png');
			}

			.card__header{
				color: #2F2F51;
				font-weight: 700;
				display: flex;
				align-items: center;
				margin-bottom: 25px;
				font-size: 24px;
				line-height: 28px;
				
				.card__header-title{
					margin-left: 20px;
					width: 220px;
				}
			}
	
		}
		.title-sections{
			text-align: center;
			margin-bottom: 48px;
		}

	}