body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container .header-block {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header-block .navigations {
  display: flex;
}
.container .header-block .navigations .navigations-item {
  margin-right: 28px;
}
.container .header-block .navigations .navigations-item a {
  color: black;
}
.container .header-block .button .button-one {
  color: white;
  background-color: #EF7F04;
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 3px;
  margin-right: 14px;
}
.container .header-block .button .button-two {
  color: white;
  background-color: #3B3A63;
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 3px;
}

.containersn {
  max-width: 1200px;
  margin: 105px auto;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #2F2F51;
}

.services {
  background-color: #f2f2f2;
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
}
.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-list .card__item {
  width: 49.5%;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 55px 5px 38px 50px;
}
.services-list .card__item .card__description {
  width: 410px;
}
.services-list .item-card1 {
  background-image: url("../img/jpeg/card1.png");
}
.services-list .item-card2 {
  background-image: url("../img/jpeg/card2.png");
}
.services-list .item-card3 {
  background-image: url("../img/jpeg/card3jpeg.png");
}
.services-list .item-card4 {
  background-image: url("../img/jpeg/card4jpeg.png");
}
.services-list .card__header {
  color: #2F2F51;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
}
.services-list .card__header .card__header-title {
  margin-left: 20px;
  width: 220px;
}
.services .title-sections {
  text-align: center;
  margin-bottom: 48px;
}

.product {
  max-width: 1200;
  margin: 0 auto;
  position: relative;
  background-color: #f2f2f2;
}
.product__title {
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 700;
  color: #2F2F51;
  text-align: center;
}
.product .navigation__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}
.product .navigation__item {
  margin-right: 28px;
}
.product .navigation__link {
  color: black;
}
.product .block {
  display: flex;
  justify-content: space-around;
  height: 460px;
}
.product .block__img {
  width: 100%;
  display: block;
  height: auto;
}
.product .block__description {
  height: 50%;
}
.product .block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #EF7F04;
}
input {
  border: none;
}

.containermain {
  width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.main {
  background-image: url("../img/jpeg/mainjpeg.png");
  padding-bottom: 65px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-info {
  padding-top: 70px;
  display: flex;
}
.main .main-info__left {
  padding: 60px 52px 0px 85px;
}
.main .left__advanteges {
  display: flex;
}

.right__feedback {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 405px;
  padding: 45px 40px 65px 40px;
  text-align: center;
}
.right__feedback .imager {
  position: absolute;
  left: -90px;
  bottom: -60px;
}
.right__feedback .right__feedback-title {
  margin-bottom: 24px;
}
.right__feedback-title {
  font-size: 18px;
  color: #2F2F51;
  margin-bottom: 25px;
}
.right__feedback .input__item {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  color: blueviolet;
  background: #E2E2E2;
  border-radius: 3px;
  padding-left: 16px;
}
.right__feedback .input__item .input__item-check {
  width: 25px;
  height: 25px;
  margin-top: 12px;
}
.right__feedback .input__checkbox {
  display: flex;
}
.right__feedback .input__checkbox label {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.input__item::-moz-placeholder {
  color: #424268;
}

.input__item:-ms-input-placeholder {
  color: #424268;
}

.input__item::placeholder {
  color: #424268;
}

.right__feedback-button {
  padding: 19px 40px;
  background: #EF7F04;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
}