
.product {
	width: 1150px;
	margin: 0 auto;
	
	&__title {
		margin-bottom: 42px;
		font-size: 24px;
		font-weight: 700;
		color: #2F2F51;
		text-align: center;
	}

	.navigation {
		
		&__nav {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-bottom: 42px;
	
		}

		&__item {
			margin-right: 28px;
		}

		&__link {
			color: black;
		}
	}


	.block {
		display: flex;
		height: 460px;
		background: #FFFFFF;
		

		&__img {
		width: 100%;
		display: block;
		height: auto;
		
		}

		&__description {
			
			margin: 74px 34px 52px 34px;
			
		
		}

		&__title {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #EF7F04;	
		}

		&__item {}

		&__sizes {
			
		}
	}
}